@font-face {
    font-family: 'Arial-MT';
    src: url("../fonts/Arial-MT.woff");
    /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background: url("../images/bg.jpg") no-repeat center;
    background-size: cover;
}

/* Header */

.header {
    min-height: 20vh;
    border: 1px solid red;
}

/* Main */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.time {
    font-size: 80px;
}

.date {
    font-size: 24px;
}

.greeting {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    gap: 10px;
}

.greeting-span {
    flex: 1;
    text-align: right;
    font-size: 40px;
}

.greeting-input {
    flex: 1;
    font-size: 40px;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.greeting-input::placeholder {
    color: #fff;
    opacity: 0.6;
}

/* Footer */

.footer {
    min-height: 20vh;
    border: 1px solid red;
}