@font-face {
    font-family: 'Arial-MT';
    src: url("../fonts/Arial-MT.woff");
    /* Путь к файлу со шрифтом */
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 1920px;
    min-height: 100vh;
    margin: 0 auto;
    font-family: 'Arial', sans-serif;
    font-size: 16px;
    color: #fff;
    text-align: center;
    background-color: darkslategrey;
    background-size: cover;
}

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    min-height: 20vh;
    padding: 20px;
    border: 1px solid red;
}

/* Main */

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.time {
    min-height: 124px;
    margin-bottom: 10px;
    font-family: 'Arial-MT';
    font-size: 100px;
    letter-spacing: -4px;
}

.date {
    min-height: 28px;
    font-size: 24px;
    margin-bottom: 20px;
}

.greeting {
    display: flex;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: center;
    width: 100%;
    gap: 10px;
    font-size: 40px;
}

.greeting-span {
    flex: 1;
    text-align: right;
    
}

.greeting-input {
    flex: 1;
    text-align: left;
    color: #fff;
    background-color: transparent;
    border: 0;
    outline: 0;
}

.greeting-input::placeholder {
    color: #fff;
    opacity: 0.6;
}

.player-icon,
.slider-icon,
.change-quote {
    width: 32px;
    height: 32px;
    background-size: 32px 32px;
    background-position: center center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: 0;
    outline: 0;
    opacity: .8;
    cursor: pointer;
    transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
    opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
    border: 0;
    outline: 0;
    transform: scale(1.1);
}

.slider-icon {
    position: absolute;
    top: 50%;
    margin-top: -16px;
}

.slide-prev {
    left: 20px;
    background-image: url("../images/slider-prev.svg");
}

.slide-next {
    right: 20px;
    background-image: url("../images/slider-next.svg");
}



/* Footer */

.footer {
    min-height: 20vh;
    border: 1px solid red;
}